/*GENERALE*/
@font-face {
  font-family: "Avenir Heavy";
  src: url('../fonts/AvenirLTStd-Heavy.otf');
}
$vertfluo :#62f9af;

/*GENERALE end*/

/*VICTOR*/
#homepage{

  #homeslider{
    .container-fluid{
      padding-right: 0px;
      padding-left: 0px;
    }
    .activepoint{
      height: 8px;
      width: 35px;
      border-radius: 0px;
    }
  }
  .carousel-caption{
    position: relative;
    float: left;
  }
  .carousel-inner{
    height: 100%;
    border-bottom: solid 8px $vertfluo;
  }
  div#carousel-example-generic{
    height: 600px;
  }

  .skyblue {
    background-color: $vertfluo;
  }
  .slide1 {
    background-image: url("../img/slider1.jpg");
    width: 100%;
    height: auto;
    background-size: cover;
  }
  .slide2 {
    background-image: url("../img/slider2.jpg");
    width: 100%;
    height: auto;
    background-size: cover;
  }
  .slide3 {
    background-image: url("../img/slider3.jpg");
    width: 100%;
    height: auto;
    background-size: cover;
  }
  .slide4 {
    background-image: url("../img/slider4.jpg");
    width: 100%;
    height: auto;
    background-size: cover;
  }
  .carousel-indicators {
    bottom: 0;
  }
  .carousel-control.right,
  .carousel-control.left {
    background-image: none;
  }
  .carousel .item {
    height: 100%;
    width:100%;
  }
  .carousel-caption h3,
  .carousel .icon-container,
  .carousel-caption button {
    text-align: left;
  }
  .carousel-caption h3 {
    color: black;
  }
  .carousel .icon-container {
    display: inline-block;
    font-size: 25px;
    line-height: 25px;
    padding: 1em;
    border-radius: 50%;
  }
  .carousel-caption button {
    margin-top: 1em;
  }

  /* Animation delays */
  .carousel-caption h3:first-child {
    animation-delay: .5s;
  }
  .carousel-caption h3:nth-child(2) {
    animation-delay: 1s;
  }
  .carousel-caption button {
    animation-delay: 1.5s;
    margin-top: 1em;
    float: left;
    padding: 10px 35px;
    border-radius: 2px;
    background-color: #fff;
    color: black;
    font-style: inherit;
    border-color: $vertfluo;
    &:hover{
      background-color: $vertfluo;
      color: #fff;
      border-color: #fff;
      transition: 300ms;
    }
  }

  p{
    text-align: left;
    font-size: 1.1em;
  }

  h1 {
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: bold;
  }
  .surlignevert{
    background-color: $vertfluo;
    padding: 5px 5px 5px 5px ;
    line-height: 1.5;
  }
}

/*VICTOR end*/




/*HAMZA*/

.hm_navbar-default-modified {
  background-image: linear-gradient(to bottom,#f1f1f1 0,#f8f8f8 100%) !important;
  min-height: 80px !important;
  margin-bottom: 0 !important;
}

.hm_container-fluid-modified {
  min-height: 80px !important;
  padding: 12px 10px 12px 10px !important;
}

.navbar-header a img {
  width: 200px !important;
}

.nav-brand-modified {
  padding-top:0 !important;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

.hm_nav-modified {
  margin-left: -200px !important;
}


/*HAMZA end*/




/*ADRIENC*/

/*ADRIENC end*/




/*ADRIENT*/

/*ADRIENT end*/
