/*GENERALE*/
/*FONT*/
@font-face {
  font-family: "avenirlight";
  src: url("../fonts/avenirlight.otf"); }
/*FONT*/
/*COULEURS*/
/*COULEURS end*/
h1, h2, h3, h4, p {
  font-family: "avenirlight"; }

/*GENERALE end*/
/*VICTOR*/
.sept1 {
  margin-top: 10px; }

.sept2 {
  margin-top: 20px; }

.sept3 {
  margin-top: 30px; }

.sept4 {
  margin-top: 40px; }

.sept5 {
  margin-top: 50px; }

.sept10 {
  margin-top: 100px; }

#homepage {
  /* Animation delays */ }
  #homepage #homeslider .container-fluid {
    padding-right: 0px;
    padding-left: 0px; }
  #homepage #homeslider .activepoint {
    height: 8px;
    width: 35px;
    border-radius: 0px; }
  #homepage .borderbotvert {
    border-bottom: solid 8px #62f9af;
    height: 244px;
    /* flip the pane when hovered */
    /* flip speed goes here */
    /* hide back of pane during swap */
    /* front pane, placed above back */
    /* back, initially hidden pane */ }
    #homepage .borderbotvert .carreanim {
      padding: 0px; }
    #homepage .borderbotvert .flip-container {
      perspective: 1000px;
      background-color: #222; }
    #homepage .borderbotvert .flip-container:hover .flipper, #homepage .borderbotvert .flip-container.hover .flipper {
      transform: rotateY(180deg); }
    #homepage .borderbotvert .flip-container, #homepage .borderbotvert .front, #homepage .borderbotvert .back {
      width: 100%;
      height: auto;
      max-height: 100%; }
    #homepage .borderbotvert .flipper {
      transition: 0.4s;
      transform-style: preserve-3d;
      position: relative; }
    #homepage .borderbotvert .front, #homepage .borderbotvert .back {
      backface-visibility: hidden;
      position: absolute;
      top: 0;
      left: 0; }
    #homepage .borderbotvert .front {
      z-index: 2;
      /* for firefox 31 */
      transform: rotateY(0deg); }
    #homepage .borderbotvert .back {
      transform: rotateY(180deg); }
  #homepage .hoververt {
    background-color: rgba(98, 249, 175, 0.9);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 100%;
    bottom: 0;
    right: 0;
    left: 0;
    transition: 300ms;
    vertical-align: middle; }
    #homepage .hoververt i {
      vertical-align: middle;
      opacity: 0; }
      #homepage .hoververt i .fa {
        opacity: 0; }
  #homepage .vcborder {
    border: solid 1px rgba(0, 0, 0, 0.36);
    height: 200px;
    padding: 0;
    overflow: hidden;
    border-bottom: solid 6px #62f9af; }
    #homepage .vcborder:hover .hoververt {
      top: 40%;
      transition: 300ms; }
    #homepage .vcborder img {
      height: 100%;
      width: auto; }
  #homepage .carousel-caption {
    position: relative;
    float: left; }
  #homepage .carousel-inner {
    height: 100%;
    border-bottom: solid 8px #62f9af; }
  #homepage div#carousel-example-generic {
    height: 500px; }
  #homepage .skyblue {
    background-color: #62f9af; }
  #homepage .slide1 {
    background-image: url("../img/slider1.jpg");
    width: 100%;
    height: auto;
    background-size: cover; }
  #homepage .slide2 {
    background-image: url("../img/slider2.jpg");
    width: 100%;
    height: auto;
    background-size: cover; }
  #homepage .slide3 {
    background-image: url("../img/slider3.jpg");
    width: 100%;
    height: auto;
    background-size: cover; }
  #homepage .slide4 {
    background-image: url("../img/slider4.jpg");
    width: 100%;
    height: auto;
    background-size: cover; }
  #homepage .carousel-indicators {
    bottom: 0; }
  #homepage .carousel-control.right,
  #homepage .carousel-control.left {
    background-image: none; }
  #homepage .carousel .item {
    height: 100%;
    width: 100%; }
  #homepage .carousel-caption h3,
  #homepage .carousel .icon-container,
  #homepage .carousel-caption button {
    text-align: left; }
  #homepage .carousel-caption h3 {
    color: black; }
  #homepage .carousel .icon-container {
    display: inline-block;
    font-size: 25px;
    line-height: 25px;
    padding: 1em;
    border-radius: 50%; }
  #homepage .carousel-caption button {
    margin-top: 1em; }
  #homepage .carousel-caption h3:first-child {
    animation-delay: .5s; }
  #homepage .carousel-caption h3:nth-child(2) {
    animation-delay: 1s; }
  #homepage .carousel-caption button {
    animation-delay: 1.5s;
    margin-top: 1em;
    float: left;
    padding: 10px 35px;
    border-radius: 2px;
    background-color: #fff;
    color: black;
    font-style: inherit;
    border-color: #62f9af; }
    #homepage .carousel-caption button:hover {
      background-color: #62f9af;
      color: #fff;
      border-color: #fff;
      transition: 300ms; }
  #homepage p {
    text-align: left;
    font-size: 1.1em; }
  #homepage h1 {
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: bold; }
  #homepage .surlignevert {
    background-color: #62f9af;
    padding: 5px 5px 5px 5px;
    line-height: 1.5; }

/*VICTOR end*/
/*HAMZA*/
.hm_navbar-default-modified {
  background-image: linear-gradient(to bottom, #f1f1f1 0, #f8f8f8 100%) !important;
  min-height: 80px !important;
  margin-bottom: 0 !important; }

.hm_container-fluid-modified {
  min-height: 80px !important; }

.navbar-header a img {
  width: 200px !important; }

.nav-brand-modified {
  padding-top: 0 !important; }

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top; }

.navbar .navbar-collapse {
  text-align: center; }

.hm_nav-modified {
  margin-left: -200px !important; }

.hm_navbar-collapse {
  padding: 12px 10px 12px 10px !important; }

ul li a {
  font-family: "avenirheavy"; }

.separateur {
  border-bottom: solid 1px; }

.backEB {
  background-color: #EBEBEB;
  padding-top: 5%; }

.backEB ul li {
  list-style-type: none; }

.more {
  font-size: 10px;
  margin-bottom: 12%;
  margin-top: 4%; }

.marginsep1 {
  margin-bottom: 2%; }

.marginsep2 {
  margin-bottom: 5%; }

.separateurpattern {
  width: 97%;
  height: 5px; }

.slider {
  display: flex; }

.slider h4 {
  margin-top: 2%; }

.slide11 {
  width: 32px;
  margin-top: 2%;
  height: 7px;
  background-color: #6DFAAB; }

.slide2 {
  width: 32px;
  margin-top: 2%;
  height: 7px;
  background-color: #C5C5C5;
  margin-left: 1%; }

.slide3 {
  width: 32px;
  margin-top: 2%;
  height: 7px;
  background-color: #C5C5C5;
  margin-left: 1%; }

/*    ===================================================================================      Adrien Cadot        ==============================================================     */
/*    ===================================================================================      Adrien Trublard        ==============================================================     */
footer {
  font-family: "Avenir Heavy";
  text-decoration: none;
  color: white; }

footer h6 {
  font-size: 20px; }

footer li {
  list-style-type: none; }

footer .a {
  background-color: #2F2F2F;
  padding-top: 40px;
  padding-bottom: 40px; }

footer .b {
  background-color: #383737;
  padding-top: 40px;
  padding-bottom: 40px; }

footer .fa {
  margin-right: 20px; }

/*HAMZA end*/
/*ADRIENC*/
/*ADRIENC end*/
/*ADRIENT*/
/*ADRIENT end*/

/*# sourceMappingURL=style.css.map */
